
.mid {
    flex-direction: column;
}

.btn{
    /* flex-direction: column-reverse; */
    width: 100%;
    text-align: center;
    display: block;
    margin: auto;
    
}

.right{
    margin-top: 283px;
}

.navbar li{
    margin: 8px;
}

.right {
    font-size: 13px;
    padding: 4px 8px;
    /* margin: 15px; */
}

.container{
    display: block;
    margin: auto;
}



.form-c{
    display: block;
    margin: auto;
}

h1{
    font-size: 20px;
}

.form-group{
    display: block;
    margin: auto;
}
.form-group{
    display: block;
    margin: auto;
    width: 151px;
}
